*{
  margin: 0;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smile {
  display: inline-block;
  padding: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.text {
  padding: 20px;
  width: 100px;
  text-align: center;
}